exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis", "lines", "plot", "legend")
importFrom("stats", "qnorm", "qt", "sd", "aov", "binom.test", "prop.test",
           "t.test", "chisq.test", "fisher.test", "quantile")
import(rbenchmark)
